[run]
source = app
omit =
    app/**/*_test.py
    app/**/__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    raise AssertionError
    ...

[html]
directory = coverage_html
